### Segmented Analysis

What percentage of females in the age group 20-24 are illiterate in India, i.e. out of all the females in the age group 20-24, what fraction is illiterate?

In [55]:
import numpy as np
import pandas as pd

df = pd.read_csv('EDA_census_2.csv')
df.head()

,Table_Name,State_Code,Distt_Code,Area_Name,Class,Age-group,Total_Persons,Total_Males,Total_Females,Illiterate_Persons,...,N_T_D_Females,T_D_Persons,T_D_Males,T_D_Females,G_Persons,G_Males,G_Females,U_Persons,U_Males,U_Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
1,C2308,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,...,0,0,0,0,0,0,0,0,0,0
2,C2308,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,...,0,0,0,0,0,0,0,136465,75715,60750
3,C2308,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,...,0,0,0,0,0,0,0,96524,52561,43963
4,C2308,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,...,0,0,0,0,0,0,0,70452,38456,31996

In [56]:
Total_F_20_24 = df[df['Age-group']=='20-24'][df['Area_Name'] == 'INDIA'][df['Class']=='Total']['Total_Females']
Total_F_I_20_24 = df[df['Age-group']=='20-24'][df['Area_Name'] == 'INDIA'][df['Class']=='Total']['Illiterate_Females']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [57]:
(Total_F_I_20_24/Total_F_20_24)*100

15    22.683085
dtype: float64

Compare the literacy rates (i.e. the number of literates / total number of population) in each age group and choose the correct option.

In [58]:
df2 = df[df['Area_Name']=='INDIA'][df['Class']=='Total']
df2.set_index("Age-group",inplace=True)
def per_lit_each_age_group(row):
    if (row['Literate_Persons'] == '0'):
        return None
    return (row['Literate_Persons']/row['Total_Persons'])*100
df2.apply(per_lit_each_age_group,axis=1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Age-group
All ages          63.066084
0-6                0.000000
7                 72.818658
8                 84.680522
9                 89.362038
10                88.693071
11                91.962826
12                91.421234
13                92.543554
14                91.682750
15                89.961344
16                89.783437
17                90.392562
18                86.665872
19                87.637647
20-24             83.235699
25-29             77.681141
30-34             72.538435
35-39             67.274016
40-44             62.993414
45-49             59.758607
50-54             57.565672
55-59             54.830491
60-64             46.926523
65-69             43.943993
70-74             39.774485
75-79             41.931327
80+               38.963204
Age not stated    64.559417
dtype: float64

Which state shows the highest female literacy rate?

In [61]:
def per_lit_f_each_state(row):
    if (row['Literate_Persons'] == '0'):
        return None
    return (row['Literate_Females']/row['Total_Females'])*100
df2 = df[df['Class']=='Total'][df['Age-group']=='All ages']
df2.set_index("Area_Name",inplace=True)
df2.apply(per_lit_f_each_state,axis=1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Area_Name
INDIA                                55.970685
State - JAMMU & KASHMIR              47.495899
State - HIMACHAL PRADESH             67.612451
State - PUNJAB                       63.119362
State - CHANDIGARH                   71.630436
State - UTTARAKHAND                  60.972687
State - HARYANA                      57.392908
State - NCT OF DELHI                 71.057359
State - RAJASTHAN                    44.206066
State - UTTAR PRADESH                48.423061
State - BIHAR                        41.942968
State - SIKKIM                       67.366360
State - ARUNACHAL PRADESH            48.690609
State - NAGALAND                     64.839865
State - MANIPUR                      61.290791
State - MIZORAM                      75.598994
State - TRIPURA                      72.430359
State - MEGHALAYA                    59.057108
State - ASSAM                        56.395015
State - WEST BENGAL                  62.337050
State - JHARKHAND                    46.367131
State - ODISHA                       56.125942
State - CHHATTISGARH                 51.698178
State - MADHYA PRADESH               50.484341
State - GUJARAT                      60.861621
State - DAMAN & DIU                  68.602199
State - DADRA & NAGAR HAVELI         53.824300
State - MAHARASHTRA                  67.053112
State - ANDHRA PRADESH               52.933654
State - KARNATAKA                    60.204679
State - GOA                          76.405363
State - LAKSHADWEEP                  78.245614
State - KERALA                       83.038221
State - TAMIL NADU                   66.086200
State - PUDUCHERRY                   72.379698
State - ANDAMAN & NICOBAR ISLANDS    73.098869
dtype: float64

Across all the states, which state shows the lowest literacy rate in 2011 (total population)?

In [62]:
def per_lit_each_state(row):
    if (row['Literate_Persons'] == '0'):
        return None
    return (row['Literate_Persons']/row['Total_Persons'])*100
df2 = df[df['Class']=='Total'][df['Age-group']=='All ages']
df2.set_index("Area_Name",inplace=True)
df2.apply(per_lit_f_each_state,axis=1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Area_Name
INDIA                                55.970685
State - JAMMU & KASHMIR              47.495899
State - HIMACHAL PRADESH             67.612451
State - PUNJAB                       63.119362
State - CHANDIGARH                   71.630436
State - UTTARAKHAND                  60.972687
State - HARYANA                      57.392908
State - NCT OF DELHI                 71.057359
State - RAJASTHAN                    44.206066
State - UTTAR PRADESH                48.423061
State - BIHAR                        41.942968
State - SIKKIM                       67.366360
State - ARUNACHAL PRADESH            48.690609
State - NAGALAND                     64.839865
State - MANIPUR                      61.290791
State - MIZORAM                      75.598994
State - TRIPURA                      72.430359
State - MEGHALAYA                    59.057108
State - ASSAM                        56.395015
State - WEST BENGAL                  62.337050
State - JHARKHAND                    46.367131
State - ODISHA                       56.125942
State - CHHATTISGARH                 51.698178
State - MADHYA PRADESH               50.484341
State - GUJARAT                      60.861621
State - DAMAN & DIU                  68.602199
State - DADRA & NAGAR HAVELI         53.824300
State - MAHARASHTRA                  67.053112
State - ANDHRA PRADESH               52.933654
State - KARNATAKA                    60.204679
State - GOA                          76.405363
State - LAKSHADWEEP                  78.245614
State - KERALA                       83.038221
State - TAMIL NADU                   66.086200
State - PUDUCHERRY                   72.379698
State - ANDAMAN & NICOBAR ISLANDS    73.098869
dtype: float64