https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/

In [6]:
import pandas as pd
import numpy as np
import re


df = pd.read_csv("ML_cohort_8.csv", delimiter=',')

df.head()

,YearsOfExp,CompanyName,Title,Field of Study,Major,Gender,City,State
0,0,Acalvio Technologies,NaN,Information Science,NaN,NaN,Bengaluru,Karnataka
1,0,chavandp7@gmail.com,NaN,NaN,NaN,NaN,Pune,NaN
2,0,Infosys,NaN,IT,NaN,NaN,NaN,NaN
3,0,not provided,NaN,Electronics Engineering,NaN,NaN,NaN,NaN
4,2,Deloitte,NaN,Electronics and Communication Eng,NaN,NaN,Hyderabad,NaN

In [7]:
df[df.Gender == 'Female'].count()

YearsOfExp        6
CompanyName       5
Title             5
Field of Study    6
Major             0
Gender            6
City              4
State             5
dtype: int64