# Expected Loss

Now, the bank wants to find the total expected loss. This is done by calculating the expected losses for each of the 10,000 customers and then adding them up.

The data for all the customers of the bank is given in the file Inferential Statistics - Student Loan.csv. What would be the value of the total expected loss?

In [84]:
import pandas as pd
import numpy as np

df = pd.read_csv("Inferential Statistics - Student Loan.csv")

df.drop('Unnamed: 4', axis=1, inplace=True)
df.drop('Unnamed: 5', axis=1, inplace=True)

df.head()

In [85]:
def total_expected_loss(row):
    R = float(row['Recovery (%)'].split('%')[0])/100
    EAD = float(row['Exposure at Default (in lakh Rs.)'])
    PD = float(row['Probability of Default'])
    return float(PD*EAD*(1-R)) # PD*EAD*(1-R)

df['Exapected Loss'] = df.apply(total_expected_loss, axis=1)
df['Exapected Loss'].sum()



# Statistics Essential > Module 4  > Session 4

For an upcoming government project, you want to find the average height of the students in Class VIII of a given school. Instead of asking each student, suppose you took a few students as your sample and wrote the data down:

 
Roll Number	Height
8012	121.92 cm
8045	133.21 cm
8053	141.34 cm
8099	126.23 cm
8125	175.74 cm

In [86]:
import pandas as pd
import numpy as np

# Question 1 - What is the sample size for this sample?
pd.options.display.float_format = '{:,.2f}'.format
df = pd.read_csv("schoolkidssample.csv")
df.head()

In [87]:
df.info()

In [88]:
row,col = df.shape

In [89]:
row

In [90]:
pd.options.display.float_format = '{:,.2f}'.format
print("{0:.2f}".format(df['Height(cm)'].mean()))


Sample Variance S^2 = df.var()

Standard Deviation S = df.std()

In [91]:
print("{0:.2f}".format(df['Height(cm)'].var()))

In [92]:
print("{0:.2f}".format(df['Height(cm)'].std()))


## Statistics Essential > Module 4 > Session 4

### Sampling Distributions

In [93]:
import pandas as pd
import numpy as np

df = pd.read_csv("Inferntial Statistics - UpGrad Samples.csv")
pd.options.display.float_format = '{:,.3f}'.format
df.head()

In [94]:
Xmean = df['Sample Mean'].mean()
print("{:,.3f}".format(Xmean))

In [95]:
print("{0:.3f}".format(df['Sample Mean'].std()))

In [96]:
def diff_mean(row):
    Xi = float(row['Sample Mean'])
    return (Xi - Xmean)

df['(Xi-Xmean)'] = df.apply(diff_mean, axis=1)
df.head()

In [97]:
def sq_diff_mean(row):
    Xi = float(row['Sample Mean'])
    return (Xi - Xmean)**2

df['(Xi-Xmean)^2'] = df.apply(sq_diff_mean, axis=1)
df.head()

In [98]:
Variance = df['(Xi-Xmean)^2'].sum()/df.shape[0]
print("Variance is: {}".format(Variance))

In [99]:
from math import sqrt
Std_Dev = sqrt(Variance)
print("Std Deviation is: {}".format(Std_Dev))


# Statistics Essential > Module 4 > Session 4 - Graded Questions- Q2

In [7]:
import pandas as pd
import numpy as np

def diff_mean(row):
    Xi = float(row['Monthly Rent'])
    return (Xi - Xmean)

def sq_diff_mean(row):
    Xi = float(row['Monthly Rent'])
    return (Xi - Xmean)**2

In [8]:
df = pd.read_csv("PowaiFlatsRent.csv")
df.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [9]:
Xmean = df['Monthly Rent'].mean()
print("{:,.3f}".format(Xmean))

45,571.000

In [10]:
df['(Xi-Xmean)'] = df.apply(diff_mean, axis=1)
df.head()

   S. No.  Monthly Rent  (Xi-Xmean)
0       1         44000     -1571.0
1       2         49800      4229.0
2       3         45400      -171.0
3       4         40700     -4871.0
4       5         43900     -1671.0

In [11]:
df['(Xi-Xmean)^2'] = df.apply(sq_diff_mean, axis=1)
df.head()

   S. No.  Monthly Rent  (Xi-Xmean)  (Xi-Xmean)^2
0       1         44000     -1571.0     2468041.0
1       2         49800      4229.0    17884441.0
2       3         45400      -171.0       29241.0
3       4         40700     -4871.0    23726641.0
4       5         43900     -1671.0     2792241.0

In [12]:
Variance = df['(Xi-Xmean)^2'].sum()/df.shape[0]
print("Variance is: {}".format(Variance))

Variance is: 55336559.0

In [28]:
from math import sqrt
#Std_Dev = sqrt(Variance)
#
Std_Dev = int(df['Monthly Rent'].std())
print("Std Deviation is: {}".format(Std_Dev))

Std Deviation is: 7457

In [35]:
from math import sqrt
ME90 = (1.65*Std_Dev)/sqrt(200)
ME90

870.027719105834

In [33]:
round(Xmean - ME90)

44701

In [34]:
round(Xmean + ME90)

46441

In [37]:
ME99 = (2.58*Std_Dev)/sqrt(200)
round(ME99)

1360

In [38]:
round(Xmean - ME99)

44211

In [40]:
round(Xmean + ME99)

46931

In [41]:
ME95 = (1.96*Std_Dev)/sqrt(200)
round(ME95)

1033

In [43]:
print("{},{}".format(round(Xmean - ME95),round(Xmean + ME95)))

44538,46604