### Data Understading and Cleaning

In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Reading the csv file and putting it into 'df' object.
df = pd.read_csv('ecommerce_consumers.csv')
df.head()

   ratio  time   label
0   0.54  17.2  female
1   0.93  18.2    male
2   0.84  13.6  female
3   0.19   6.0    male
4   0.89  13.2  female